<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Growler</title>

    <style>
        .headers{
            font-family: 'Verdana';
            margin: 0
        }

        .accent-color{
            color: pink; 
        }
    
    </style>
</head>
<body>

    <div id="growler">

        <!-- Headings with different style bindings examples -->
        <!-- <h2>{{ appName }}</h2> -->
        <!-- <h2 v-text="appName" v-bind:style="appStyle"></h2> -->
        <!-- <h3 v-text="appName" v-bind:class="[accentColor, headers]"></h3>  -->
        <!-- <h3 v-text="appName" v-bind:class="{ 'headers' : true, 'accent-color' : isOnline }"></h3>  -->
        <h3 v-text="appName" v-bind:style="{ color:isOnline? 'purple' : 'black' }"></h3> 


        <!-- Image -->
        <!-- <img
            alt="Growler"
            :src="appLogo"
            style="height:36px"
        /> -->


        <!-- Input... -->
        <!-- <input
            v-model="query" 
            placeholder="Search..."
        > -->

        <!-- Input with modifier... [A modifier describes the behavior of a binding] -->

        <!-- ...with trim modifier (removes white space entered by user)... -->
        <!-- <input
            v-model.trim="query" 
            placeholder="Search..."
        > -->

        <!-- ...with number modifier (??????????????????)... -->
        <!-- <input
            v-model.number="result" 
            placeholder="Search..."
        > -->

        <!-- ...with lazy modifier (lazy binding)... -->
        <!-- <input
            v-model.lazy="query" 
            placeholder="2+3="
        > -->

        <!-- ...with lazy+trim modifier (removes the whitespace after input has changed)... -->
        <!-- <input
            v-model.lazy.trim="query" 
            placeholder="Search..."
        > -->


        <div>Search for: {{ query }}</div>


        <!-- Single checkbox -->
        <!-- <input type="checkbox" v-model="isPowerSyntaEnabled"></input> -->


        <!-- Multiple checkboxes -->
        <!-- <label>
            <input
                type="checkbox" value="beers"
                v-model="searchIndexes">
            Beers
        </label>
        <br />

        <label>
            <input
                type="checkbox" value="breweries"
                v-model="searchIndexes">
            Breweries
        </label>
        <br />
        <small>
            selected: {{ searchIndexes }}
        </small>  -->



        <!-- Radiobuttons -->
        <!-- <label class="form-check-button">
            <input
                type="radio" value="beers"
                v-model="searchIndex">
            Beers
        </label>
        <br />

        <label class="form-check-button">
            <input
                type="radio" value="breweries"
                v-model="searchIndex">
            Breweries
        </label>
        <br />
        <small>
            selected: {{ searchIndex }}
        </small> -->



        <!-- Dropdown/select multiple (!) menu -->
        <!-- <select multiple 
            v-model="selectedSearchIndex">
            <option value="beers">Beers</option>
            <option value="breweries">Brewries</option>
            <option value="distilleries">Distilleries</option>
            <option value="pubs">Pubs</option>
        </select>
        <small>
            selected: {{ selectedSearchIndexes }}
        </small> -->

        <input v-model.trim="query" placeholder="Search...">



    </div>

<script type="text/javascript" src="https://unpkg.com/vue"></script>

<script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">

    var growler = new Vue({
        el: '#growler',
        data: {

            // Headings with different style bindings examples
            appName: 'Growler',
            // appStyle: {
            //     color: '#FF6A00',
            //     fontFamily: 'Verdana',
            //     margin: 0
            // },
            // headers: 'headers',
            isOnline: false,

            // Image
            // appLogo: '/public/mg/logo.png',

            // Input
            query: '',
            // result: 0

            // Single checkbox:
            // isPowerSyntaEnabled: false

            // Multiple checkboxes:
            // searchIndexes: []

            // Radiobuttons:
            // searchIndex: 'beers' // pre-set value

            // Dropdown/select multiple menu // For single value just drop the array ofc
            // selectedSearchIndex: [
            //     'beers',
            //     'pubs'
            //     ,
            // ]
        }
    });

</script>
    
</body>
</html>

